.image {
  /* Add background img */
  background-image: url('left-banner-image.jpg');

  /* Use filter to add blur effect */
  filter: blur(6px);

  height: 100%;

  /* Center the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the text */
.text {
  background-color: rgba(0, 0, 0, 0.4); /* Black partially transparent background */
  color: white;
  font-weight: bold;
  border: 3px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
}
